<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration Form</h1>

<form action="">
    <table>
        <tr>
            <td>firstname</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>lastname</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>userid</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>mblenum</td>
            <td><input type="text"></td>
        </tr>
    </table>
</form>
</body>
</html>